[submodule "modules/radio"]
	path = modules/radio
	url = https://github.com/e-mo/whale_radio_rfm69.git
[submodule "modules/rp2x_pcf8523"]
	path = modules/rp2x_pcf8523
	url = git@github.com:VTC-WISDOM/rp2x_pcf8523.git
